<h1>Happiness Calculator</h1>
<p>Calculate your life satisfaction with the Happiness Calculator.</p>

<div class="calculator">
  <fieldset class="name-field">
    <%= form_tag('/', method: :post) do %>
      <p>Enter an area in your life that you value:</p>
      <%= text_field_tag 'area', nil, placeholder: 'Enter an area' %>
      <p>Or click on one below:</p>
      <ul>
        <li class="area-example">Family</li>
        <li class="area-example">Friends</li>
        <li class="area-example">Career</li>
        <li class="area-example">Exercise</li>
        <li class="area-example">Volunteer</li>
        <li class="area-example">Faith</li>
        <li class="area-example">Leisure</li>
        <li class="area-example">Education</li>
      </ul>

  </fieldset>
  <div class="second-part">
    <fieldset class="importance-field">
      <p>Input the importance that this has in your life:</p>
      <div class="number-field">From 1 to 10</div>
      <%= render 'numbers' %>
    </fieldset>
    <fieldset class="satisfaction-field">
      <p>How happy are you re: <span>this area</span>?</p>
      <%= range_field_tag 'satisfaction', nil, within: 1..10 %>
      <div class="output">Result</div>
    </fieldset>
  </div>
    <% end %>
</div>
