<h1 class="title">Life Satisfaction Calculator</h1>
<p>Calculate how satisfied you are with your life by using the calculator below.</p>

<div class="calculator">
  <fieldset class="name-field">
    <%= form_tag('/', method: :post) do %>
      <p>1. Enter an area in your life that you value:</p>
      <%= text_field_tag 'area', nil, placeholder: 'Enter an area' %>
      <p>Or click one of the options below:</p>
      <ul>
        <li class="area-example">Family</li>
        <li class="area-example">Friends</li>
        <li class="area-example">Career</li>
        <li class="area-example">Exercise</li>
        <li class="area-example">Volunteer</li>
        <li class="area-example">Faith</li>
        <li class="area-example">Leisure</li>
        <li class="area-example">Education</li>
      </ul>

  </fieldset>
  <div class="second-part">
    <fieldset class="importance-field">
      <p>2. Input the importance this area has in your life:</p>
      <div class="number-field">From 1 to 10</div>
      <%= render 'numbers' %>
    </fieldset>
    <fieldset class="satisfaction-field">
      <p>3. Gauge how happy you are in this area:</p>
      <%= range_field_tag 'satisfaction', nil, within: 0..20 %>
      <div class="output">Move the slider!</div>
    </fieldset>
  </div>
  <% end %>
  <div class="enter-field">
    <div class="dock">4. <span id="add">ADD</span> it into the calculator below!</div>
    <div class="screen">...</div>
  </div>
</div>
