// Place all the styles related to the areas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$border-color: lightgray;
$button-border-color: gray;
$button-shadow: 1px 1px 2px black;
$button-background: lightcyan;

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Roboto Condensed';
}

.title {
  font-family: "Caveat Brush";
  font-size: 2.5em;
}

.shell {
  text-align: center;
  width: 100%;
}

.example {
  padding: 5px;
  border: 1px solid $button-border-color;
  display: inline-block;
  margin: 5px 0;
  width: 65px;
  text-align: center;
  font-size: 0.9em;
  box-shadow: $button-shadow;
  background-color: $button-background;
}

.calculator {
  display: inline-block;
  border-radius: 0px;
  border: 2px solid darkgray;
  background: darksalmon;
  padding: 10px;
  margin: 10px;
  width: 320px;
  box-shadow: 2px 2px 10px black;
  font-family: 'Roboto Condensed';

  fieldset {
    padding: 10px;
    border: 1px solid $border-color;
  }

  .name-field {
    .area-example {
      padding: 5px;
      border: 1px solid $button-border-color;
      display: inline-block;
      margin: 5px 0;
      width: 23.5%;
      text-align: center;
      font-size: 0.9em;
      box-shadow: $button-shadow;
      background-color: $button-background;
    }
  }

  .importance-field {
    width: 64%;
    height: 100%;
    display: inline-block;
    text-align: center;

    .num-shell {
      text-align: center;
      overflow: auto;
      padding-right: 5px;
      margin-top: 8px;

      .num-button, .sub-button, .clear-button {
        text-align: center;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: 1px solid $button-border-color;
        display: table;
        float: right;
        margin: 2px;
        box-shadow: $button-shadow;
        background-color: $button-background;

        div {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
  }

  .satisfaction-field {
    text-align: center;
    max-width: 36%;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    float: right;
    padding: 10px 5px;
  }

  input#satisfaction {
    -webkit-appearance: slider-vertical;
    height: 220px;
    width: 100%;
    margin: 8px 0;
  }

  input#area, input#importance {
    margin: 10px 0;
    background-color: white;
    width: 100%;
    text-align: center;
    border: none;
    padding: 10px;
    font-size: 1.2em;
  }

  .second-part {
    height: 350px;
  }

  .enter-field {
    border: 1px solid $border-color;
    padding: 10px;

    span {
      border: 1px solid $button-border-color;
      padding: 4px;
      margin: 2px;
      box-shadow: $button-shadow;
      background-color: $button-background;
    }
  }

  .screen {
    display: inline-block;
    text-align: center;
    width: 86%;
    margin: 15px 0;
    border: 1px solid lightgray;
    background: gainsboro;
    padding: 10px 20px;
    font-size: 1.2em;
    font-family: 'Courier New';
    text-align: right;
  }

  #calculate {
    text-align: center;
    display: inline-block;
    width: 95%;
    border: 1px solid $button-border-color;
    box-shadow: $button-shadow;
    background-color: $button-background;
    padding: 10px;
    margin: 10px 0 0;
  }
}

.error, .results {
  display: none;
  border: 2px solid black;
  border-radius: 5px;
  background: white;
  width: 300px;
  height: 200px;
  padding: 10px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  position: fixed;
  text-align: center;

  p, h2, button {
    padding: 5px;
  }

  button {
    margin-top: 10px;
  }
}

footer {
  text-align: right;
  padding: 10px;
  background: black;
  width: 100%;
  color: white;
}
