// Place all the styles related to the areas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$border-color: lightgray;
$button-border-color: gray;
$button-shadow: 1px 1px 2px black;
$button-background: lightcyan;
$desktop-border-color: dimgray;

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Roboto Condensed';
}

.title {
  font-family: "Caveat Brush";
  font-size: 3.5em;
}

.shell {
  text-align: center;
  width: 100%;
}

.intro {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  display: none;
}

.example {
  padding: 5px;
  border: 1px solid $button-border-color;
  display: inline-block;
  margin: 5px 0;
  width: 65px;
  text-align: center;
  font-size: 0.9em;
  box-shadow: $button-shadow;
  background-color: $button-background;
}

.calculator {
  display: inline-block;
  border-radius: 0px;
  border: 2px solid darkgray;
  background: darksalmon;
  padding: 10px;
  margin: 10px;
  width: 320px;
  box-shadow: 2px 2px 10px black;
  font-family: 'Roboto Condensed';

  fieldset {
    padding: 10px;
    border: 1px solid $border-color;
  }

  .name-field {
    .area-example {
      padding: 5px;
      border: 1px solid $button-border-color;
      display: inline-block;
      margin: 5px 0;
      width: 23.5%;
      text-align: center;
      font-size: 0.9em;
      box-shadow: $button-shadow;
      background-color: $button-background;
    }

    .tablet {
      display: none;
    }

    .laptop {
      display: none
    }

    .desktop {
      display: none;
    }
  }

  .second-part {
    height: 350px;
  }

  .importance-field {
    width: 64%;
    height: 350px;
    display: inline-block;
    text-align: center;
    float: left;

    .num-shell {
      text-align: center;
      overflow: auto;
      padding-right: 5px;
      margin-top: 8px;

      .num-button, .sub-button, .clear-button {
        text-align: center;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        border: 1px solid $button-border-color;
        display: table;
        float: right;
        margin: 2px;
        box-shadow: $button-shadow;
        background-color: $button-background;

        div {
          display: table-cell;
          vertical-align: middle;
        }
      }
    }
  }

  .satisfaction-field {
    text-align: center;
    max-width: 36%;
    display: inline-block;
    vertical-align: top;
    height: 350px;
    float: left;
    padding: 10px 3px;
  }

  input#satisfaction {
    writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    height: 220px;
    width: 100%;
    margin: 8px 0;
    background-color: darksalmon;
  }

  input#area, input#importance {
    margin: 10px 0;
    width: 100%;
    text-align: center;
    border: none;
    padding: 10px;
    font-size: 1.2em;
  }

  input#importance {
    background-color: lightcyan;
    border-radius: 30px
  }

  .second-part {
    height: 350px;
  }

  .enter-field {
    border: 1px solid $border-color;
    padding: 10px;

    span {
      border: 1px solid $button-border-color;
      padding: 5px 8px;
      margin: 2px;
      box-shadow: $button-shadow;
      background-color: $button-background;
    }
  }

  .screen {
    display: inline-block;
    text-align: center;
    width: 86%;
    margin: 15px 0;
    border: 1px solid lightgray;
    background: gainsboro;
    padding: 10px 20px;
    font-size: 1.2em;
    font-family: 'Courier New';
    text-align: right;
  }

  #calculate {
    text-align: center;
    display: inline-block;
    width: 95%;
    border: 1px solid $button-border-color;
    box-shadow: $button-shadow;
    background-color: $button-background;
    padding: 10px;
    margin: 10px 0 0;
  }
}

.error, .results, .start, .calculate-error {
  display: none;
  border: 2px solid black;
  border-radius: 5px;
  background: white;
  width: 300px;
  height: 200px;
  padding: 10px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  position: fixed;
  text-align: center;

  p, h2, button {
    padding: 5px 5px;
  }

  button {
    margin: 10px 0;
    font-family: "Caveat Brush";
    font-size: 1.1em;
  }
}

.start {
  height: 250px;
  margin-top: -125px;
}

.results {
  width: 320px;
  margin-left: -160px;
  height: inherit;
  margin-top: -120px;
}

footer {
  text-align: center;
  padding: 10px;
  width: 100%;
  color: black;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }

  .calculator {
    width: 95%;

    .tablet-part {
      height: inherit;
      border: 1px solid $border-color;

      .name-field{
        border-left: none;
        border-right: none;

        .area-example {
          width: 19%;
          font-size: 1em;
        }

        .tablet {
          display: inline-block;
        }
      }
      .second-part {
        display: inline-block;
        width: 312px;
        float: left;
        // overflow: hidden;
        // clear: left;
        height: inherit;

        .importance-field {
          border: none;
          display: inline-block;
          width: 190.2px;
          height: inherit;
          float: left;
        }

        .satisfaction-field {
          border-top: none;
          border-bottom: none;
          float: left;
          height: 400px;
          p {
            padding: 0 10px;
          }
        }
      }

      .third-part {
        display: flex;
        justify-content: center;
        text-align: center;
      }

      .enter-field {
        height: 400px;
        display: inline-block;
        border: none;
        p {
          padding: 0 10%;
        }
        .screen {
          width: 80%;
          height: 75%;
        }
      }
    }
  }
}

.error, .results, .start, .calculate-error {
  display: none;
  border: 2px solid black;
  border-radius: 5px;
  background: white;
  width: 640px;
  height: 200px;
  padding: 10px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -320px;
  position: fixed;
  text-align: center;

  p, h2, button {
    padding: 5px 5px;
  }

  button {
    margin: 10px 0;
    font-family: "Caveat Brush";
    font-size: 1.1em;
  }
}

.start {
  height: 250px;
  margin-top: -125px;
}

.results {
  height: inherit;
  margin-top: -120px;
}

@media (min-width: 768px) and (max-width: 1076px) {
  h1.title {
    float: left;
    display: inline;
    padding-left: 3%;
  }

  p.instructions {
    display: inline;
    text-align: left;
    position: absolute;
    right: 3%;
    top: 42px;
  }
}

@media (min-width: 1077px) {
  .option {
    font-size: 0.8em;
  }

  .desktop-padding {
  }

  .calculator #calculate {
    width: 90%;
  }

  .calculator {
    background: darksalmon;

    .tablet-part {
      height: 480px;
      width: 95%;
      display: inline-block;
      background: darksalmon;
      border-color: white;

      .name-field {
        border-top: none;
        border-bottom: none;
        border-right: 1px solid white;
        width: 300px;
        display: inline-block;
        float: left;
        height: inherit;

        .area-example {
          width: 48%;
        }

        .laptop {
          display: inline-block;
        }


      }

      .second-part {

        .importance-field {
          p {
            margin-bottom: 20px;
          }
        }

        .satisfaction-field {
          border-color: white;
          height: 480px;
        }
      }

      .third-part {
        display: flex;
        justify-content: center;

        .enter-field {
          p {
            padding: 0 10%;
          }
          .screen {
            width: 90%
          }
        }
      }

      input#satisfaction {
        height: 280px;
      }

    }
  }
}

@media (min-width: 1400px) {
  .calculator {
    .tablet-part {
      .name-field {
        width: 400px;

        .option {
          font-size: 1em;
        }

        input#area {
          width: 90%;
        }

        .area-example {
          padding: 10px 0;
          width: 30%;
        }

        .desktop {
          display: inline-block;
        }
      }
      .second-part {
        width: 360px;
        .importance-field {
          width: 225px;
          .num-button, .clear-button {
            height: 62.5px;
            width: 62.5px;
          }
        }
      }

      .third-part {
        .enter-field {
          .screen {
            width: 100%;
            height: 90%;
          }
          p {
            padding: 0;
            width: 100%;
          }
        }
      }
    }
  }

}
