<!DOCTYPE html>
<html>
  <head>
    <title>Happy Calc</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush|Roboto+Condensed" rel="stylesheet">
  </head>

  <body>
    <div class="intro">
      <div class="start">
        <h2>Welcome to HappyCalc!</h2>
        <p>HappyCalc takes all the areas of your life that are important to you, and crunches them into data that shows how happy (or unhappy!) you are.</p>
        <p>This is a web app used to practice AJAX requests and JavaScript interactivity.</p>
        <button>START</button>
      </div>
    </div>

    <div class="error">
      <h2>It looks like the calculator coudn't add your stuff!</h2>
      <p>Make sure you put in a <em>unique</em> area for step 1, and set values for 2 and 3 before you press the [ADD] button!</p>
      <button>OKAY</button>
    </div>

    <div class="calculate-error">
      <h2>You haven't added anything to the calculator!</h2>
      <p>Do steps 1 through 4 to put something into the calculator before you press the [CALCULATE] button!</p>
      <button>OKAY</button>
    </div>

    <div class="results">
      <h2>You are <strong><span id="score"></span>%</strong> satisfied with your life!</h2>
      <h3 id="feedback"></h3>
      <p>The area you get the most happiness from: <strong><span id="most"></span></strong><br>
      The area you get the least happiness from: <strong><span id="least"></span></strong>.</p>
      <button>GOT IT!</button>
    </div>
    <div class="shell">
      <h1 class="title">HappyCalc</h1>
      <p>Press the <span class="example">buttons</span> to use the calculator!</p>
      <%= yield %>
    </div>
    <footer>
      <p>This is a David Rhie web app</p>
    </footer>
  </body>
</html>
